@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 62.5%;
  font-family: "\30d2\30e9\30ae\30ce\89d2\30b4 Pro W3", "Hiragino Kaku Gothic Pro", "\30e1\30a4\30ea\30aa", "Meiryo", "\6e38\30b4\30b7\30c3\30af", "YuGothic", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  overflow: hidden;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
svg,
picture {
  display: block;
}

a,
button,
select,
input[type="radio"],
input[type="checkbox"] {
  color: inherit;
  font: inherit;
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="password"],
textarea,
label {
  color: inherit;
  font: inherit;
  cursor: text;
}

button,
input[type="text"],
input[type="tel"],
input[type="password"] {
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th,
dt {
  font-weight: normal;
}

b,
em,
strong {
  font-weight: bold;
}

i,
em,
strong,
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-weight: normal;
  font-size: 1em;
}

sup,
sub {
  font-size: 0.75em;
}

sup {
  vertical-align: top;
}

sub {
  vertical-align: bottom;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
